<h1>Hi! After email confirmation you can log in using credentials below!</h1>

<p>
    Login: <b>{{ user_email }}</b><br>
    Password: <b>{{ user_password }}</b><br>
    <a href=" {{ path('login') }}">Go to log in page</a>
</p>

<p>
    Cheers!
</p>